<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vinicius.webrestaurante">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewLayer.FecharPedidoActivity"
            android:label="@string/title_activity_fechar_pedido"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ViewLayer.GerarContaActivity"
            android:label="@string/title_activity_gerar_conta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewLayer.CardapioActivity"
            android:label="@string/title_activity_cardapio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewLayer.MesasActivity"
            android:label="@string/title_activity_mesas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewLayer.PedidosAbertoActivity"
            android:label="@string/title_activity_pedidos_em_aberto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewLayer.RegistarPedidoActivity"
            android:label="@string/title_activity_registar_pedido"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewLayer.CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewLayer.UsuariosActivity"
            android:label="@string/title_activity_usuarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewLayer.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>